<launch>
    <!-- 1.启动nodeletmanager（管理器） -->
    <node name="mynodelet" pkg="nodelet" type="nodelet" args="manager" output="screen" />
    
    <!-- 2.添加节点xiaowang，参数是100 -->
    <node name="p1" pkg="nodelet" type="nodelet" args="load demo04_nodelet/MyPlus mynodelet" output="screen" >
        <param name="value" value="100"/> 
    </node>
    
    <!-- 3.添加节点二狗，参数是-50，重映射：小王输出作为二狗的输入 -->
    <node name="p2" pkg="nodelet" type="nodelet" args="load demo04_nodelet/MyPlus mynodelet" output="screen" >
        <param name="value" value="-50"/>
        <remap from="/p2/in" to="/p1/out"/>
    </node>
    
    

</launch>